@font-face {
    font-family: myFont;
    src: url(./open-sans-hebrew/OpenSansHebrew-Regular.ttf)
}
@font-face {
    font-family: myFont-P;
    src: url(../../open-sans-hebrew/OpenSansHebrew-Regular.ttf);
}

.aboutUs {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.aboutNav {
    position: fixed;
    top: 0;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 12vh;
    /* border:2px solid red; */
    background-color: white;
    width: 100%;
    gap: 30vw;
}

.aboutNav h3 {
    font-family: myFont;
    font-size: 2vw;
    font-weight: 700;
    /* line-height: 44px; */
    letter-spacing: 0em;
    text-align: center;
}

.redirect {
    display: flex;
    justify-self: flex-start;
    height: 4vh;
    top: 36px;
    left: 120px;
    align-items: center;
}

.redirect p {
    font-family: myFont-P;
    font-size: 0.9vw;
    font-weight: 700;
    /* line-height: 21px; */
    letter-spacing: 0em;
    text-align: left;
    color: #6B7280;
}

.redirect img {
    width: 1.3vw;
}

.img {
    width: 35vw;
    height: 73vh;
    margin-right: 10px;
    border-radius: 4px;
}

.flexAbout {
    /* padding: 150px 0px 100px; */
    padding: 29vh 0vh 18vh;
    justify-content: center;
    display: flex;
    gap: 6vw;
    align-items: center;
}

.headlineDiv img {
    width: 40vw;
    height: 73vh;
}

.thirdAbout {
    gap: 20px;
}

.secondAbout {
    background-color: #D5E6FB;
}

.secondAbout .textbox,
.flexAbout .textbox {
    /* width: 600px; */
    width: 44vw;
}

.textbox p {
    font-family: myFont-P;
    font-size: 1.2vw;
    font-weight: 400;
    /* line-height: 24px; */
    letter-spacing: 0em;
    text-align: left;
}

.textbox h3 {
    font-family: Inter;
    font-size: 3vw;
    font-weight: 700;
    /* line-height: 44px; */
    letter-spacing: 0em;
    text-align: left;
}

.textbox h2 {
    font-size: 2vw;
}

.content {
    display: flex;
    align-items: center;
    margin: 20vh auto;
    justify-content: center;
}

.content .mission,
.content .vision {
    box-shadow: 0px 4px 8px 0px #00000014;
    background-color: #FFFFFF;
    width: 25vw;
    margin: 0 30px;
}

.content h6 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    /* line-height: 35px; */
    letter-spacing: 0em;
    text-align: left;
}

.content p {
    font-family: myFont-P;
    font-size: 16px;
    font-weight: 700;

    letter-spacing: 0em;
    text-align: left;
    color: grey;
    width: 352px;
    height: 48px;
}

.team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 90vw;
    margin: 0 auto;
     height:100%;
     overflow: visible !important;
}

.teams {
    background: #FFFFFF;
    box-shadow: 4px 4px 8px 4px hsla(0, 0%, 0%, 0.1);
    width: 50vw;
    height: 100%;
    overflow: visible !important;
    border-radius: 4px;
    align-self: center;
    justify-self: center;
    /* gap:10vw; */
    margin-top: 15px;
    /* border:2px solid red; */
}

.teams>img {
    /* width:40vw; */
    width: 100%;
    /* border:2px solid red; */
}

.teams p {
    padding-bottom: 3vh;
}

.Volunteer {
    background-color: #D5E6FB;
    align-self: center;
    justify-self: center;
    display: flex;
    width: 90vw;
    margin-top: 20vh;
    padding: 48px 100px 48px 100px;
    border-radius: 8px;
    justify-content: space-between;
}

.vol {
    width: 45vw;
    height: 25vh;
    gap: 24px;
}

.vol h3 {
    font-family: Inter;
    font-size: 3vw;
    font-weight: 700;
    /* line-height: 44px; */
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}

.vol p {
    font-family: myFont-P;
    font-size: 1.3vw;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.volunteer-btn {
    color: white;
    display: flex;
    align-items: center;
}

.scrollArrow {
    display: flex;
    justify-content: flex-end;
}

.teamText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.teamText h6 {
    font-family: Inter;
    font-size: 1.8vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
}

.teamText p {
    font-family: Inter;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #898E99;
}

.teamHeader h3 {
    font-family: Inter;
    font-size: 3.6vw;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
}

@media only screen and (max-width:1024px) {
    .aboutUs {
        overflow-x: hidden !important;
        width: 100%;
    }

    .aboutNav {
        gap: 8vw;
        display: flex;
        justify-content: space-evenly;
    }
    
.redirect img{
    width:6vw;
}
    .redirect p {
     /* z-index: 1; */
        font-size:4vw;
    }

    .aboutNav h3 {
        font-size: 20px;
    }

    .secondAbout {
        display: flex;
        flex-direction: column-reverse;
    }

    .teamText h6 {
        font-size: 28px;
    }

    .teamText p {
        font-size: 20px;
        margin-top: 15px;
    }

    .textbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img,
    .textbox-img,
    .headlineDiv img {
        border-radius: 4px;
        width: 90vw;
        height: 80vh;
    }

    .headlineDiv .textbox,
    .flexAbout .textbox {
        text-align: center;
        width: 90%;
    }

    .headlineDiv {
        padding: 40px 0px 100px;
        display: flex;
        flex-direction: column;
    }

    .textbox h3 {
        font-size: 10vw;
        font-weight: 700;
        padding-top: 15px;

    }

    .headlineDiv h2 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0em;
        margin-top: 10px;
        text-align: left;
    }

    .textbox p {
        font-family: myFont-P;
        font-size: 4.2vw;
        font-weight: 400;
        letter-spacing: 0em;
        margin-top: 20px;
        width: 100%;
    }

    .team,
    .content {
        flex-wrap: wrap;
    }

    .teams {
        width: 100%;
          box-shadow: 0px 4px 8px 0px hsla(0, 0%, 0%, 0.1);
          height:100%;
          overflow: visible !important;
    }

    .teamHeader h3 {
        font-size: 9vw;
        padding-bottom: 5vh;
    }

    .team {
        gap: 8vh;
        overflow: visible;
        overflow: visible !important;
    }

    .content .missionAndVis {
        display: flex;
        flex-direction: column;
        gap: 7vh;
    }

    .content .mission,
    .content .vision {
        width: 90vw;
    }

    .content .mission img,
    .content .vision img {
        width: 150px;
        height: 150px;
        background-color: hsla(214, 84%, 91%, 1);
        border-radius: 50%;
        padding: 30px;
        display: flex;
        justify-self: flex-start;
        margin-left: 20px;
        align-self: flex-start;
    }

    .content .mission h6,
    .content .vision h6 {
        font-size: 9vw;
        width: 100%;
        margin-left: 50px;
        padding: 5vh 0;
        text-align: left;
    }

    .content .mission p,
    .content .vision p {
        font-size: 5vw;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: left;
        color: grey;
        width: 100%;
        height: 100%;
        padding-left: 2vw;
        padding-bottom: 20px;
    }

    .fourthAbout {
        flex-direction: column-reverse;
    }

    .Volunteer {
        background-color: #D5E6FB;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .vol {
        width: 90vw;
        height: 100%;
        gap: 24px;
    }

    .vol p {
        text-align: center;
        font-size: 3vw;
    }

    .vol h3 {
        margin: 0 auto;
        text-align: center;
        font-size: 10vw;
    }

    .Volunteer .btn span {
        font-size: 4vw;
    }
    .Volunteer .btn img {
        width: 3vw;
    }

    .scrollArrow {
        margin: 80px 70px 50px;
    }
}