@font-face{
    font-family:myFont-P;
    src:url(../../open-sans-hebrew/OpenSansHebrew-Regular.ttf);
  }
.join-link{
    text-decoration: none;
    color:white;
  }
#volunteer{
    color:white;
    text-align: center;
    margin:0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../../images/volunteer.jpeg") no-repeat;
    object-fit: cover;
   background-size: cover;
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
/* height: 348px; */
/* min-height: 100vh; */
padding: 64px 445px ;
gap:4vh;
}   
.volunteerText{
display: flex;
gap: 3vh;
flex-direction: column;
} 
.volunteerText h3{
    font-family: Inter;
font-size: 3vw;
font-weight: 700;
/* line-height: 44px; */
letter-spacing: 0em;
text-align: center;
}
.volunteerText p{
font-family: myFont-P;
font-size: 1.2vw;
font-weight: 400;
width:45vw;
/* line-height: 24px; */
letter-spacing: 0em;
text-align: left;

}
.volunteer-btn{
padding: 1.2vh 2vw;
border-radius: 64px;
gap: 8px;
align-self: center;
display:flex;
justify-content: center;
align-items: center;
}
.volunteer-btn:hover{
    background-color:hsla(214, 67%, 45%, 1);
}
.volunteer-btn span{
    font-size: 1vw;
}
.volunteer-btn img{
    width:0.9vw;
}
@media screen and (max-width:899px){
    #volunteer{
        display:flex;
        /* height: 1200px; */
        /* min-height: fit-content; */
        padding: 40px;
        align-items: center;
        justify-content: center;
    }
    .volunteerText{
        /* width:700px; */
        max-width: 100%;
        font-size: 18px;
        letter-spacing: 0.1em;
        display:flex;
        align-items: center;
        height: max-content;
        justify-content: center;
    }
    
.volunteerText p{
    font-size:18px;
    text-align:center;
    width:70vw;
}
.volunteer-btn{
    width:80vw;
    margin-top:30px;
    font-size: 18px;
}

}
@media only screen and (max-width: 1024px) {
    .volunteerText h3{
        font-size: 7vw;
    }
    .volunteerText p{
        font-size: 2.5vw;
        width:90vw;
        text-align: center;
    }
    .Volunteer .btn{
        margin-top:5vh;
    }
    .volunteer-btn{
    width:40vw;
    }
    .volunteer-btn span{
        font-size: 3vw;
    }
    .volunteer-btn img{
        width:4vw;
    }
}