@font-face {
    font-family: myFont;
    src: url(../../open-sans-hebrew/OpenSansHebrew-Bold);
}

@font-face {
    font-family: myFont-P;
    src: url(../../open-sans-hebrew/OpenSansHebrew-Regular.ttf);
}

#about {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 60px 80px;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    position: relative;
}

#about h3 {
    font-family: Inter;
    font-size: 3vw;
    font-weight: 700;
    /* line-height: 44px; */
    letter-spacing: 0em;
    text-align: left;

}

#about .aboutImg {
    border-radius: 4px;
    width:42vw;
}

aside .about-btn {
    border-radius: 64px;
    width:13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-timing-function: ease-out;
    animation-duration: 500ms;

}
.about-btn:hover{
    background-color:hsla(214, 67%, 45%, 1);
}
.about-btn .about-link {
    color: white;
    font-size:1.1vw;
}
.about-btn img{
    width:1.1vw;
}
aside {
    flex-basis: 50%;
    display: flex;
    gap: 6vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

aside p {
    font-family: myFont-P;
    font-size: 1.1vw;
    font-weight: 300;
    /* line-height: 24px; */
    letter-spacing: 0em;
    text-align: left;

}

.liveChat {
    right: 45px;
    top: 20px;
    position: absolute;
    width:8vw;
}

@media only screen and (max-width: 899px) {
    #about {
        justify-content: space-evenly;
      padding:40px;
        min-height: fit-content;
        width:100%;
        position: relative;
    }

    #about .aboutImg {
        display: none;
    }

    aside {
        flex-basis: 100%;
    }
    .about-btn .about-link {
        color: white;
        font-size:4vw;
    }
    .about-btn img{
        width:4vw;
    }
    .aboutDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    #about h3 {
        font-family: Inter;
        font-size: 9vw;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
    }
    .aboutDiv p {
        font-family: myFont-P;
        font-size: 16px;
        width:100%;
        font-weight: 400;
        letter-spacing: 0em;
        text-align:center;
    }

    aside .about-btn {
        width:70vw;
    }
.about-btn Link{
    text-decoration: none;
    color:white;
    font-size: 9vw;
}
    .liveChat {
    right:-5px;
    top:70vh;
    position: absolute;
    width:30vw;
    }
}

@media only screen and (max-width: 1024px) {
    #about {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        /* padding:0 20px; */
    }

    #about .aboutImg {
        /* width:40%; */
        height: 100vh;
        object-fit: contain;
    }

    aside {
        gap: 3vh;
        padding: 4px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .liveChat {
        right: 90px;
        position:absolute;
    }
}