@font-face {
    font-family: myFont-P;
    src: url(./open-sans-hebrew/OpenSansHebrew-Regular.ttf)
}

.footer {
    background-color: #13335F;
    /* padding: 60px 120px; */
}

main {
    /* height: 244px; */
    display: flex;
    padding: 7vh 0px 0px 0px;
    border: 0px 0px 1px 0px;
    justify-content: space-between;
    /* border-bottom: 1px solid #6B7280; */
    width: 90%;
    margin: auto;
}

.firstPart {
    width: 7vw;
    /* height: 7vh; */
    display: flex;
    flex-direction: column;
    gap: 7vh;
}

.socials {
    display: flex;
    gap: 2vw;
}

.socials img {
    width: 0.9vw;
    height: 2vh;
}

.secondPart {
    /* background-color: #13335F; */
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: flex-start;
    padding-top: 3px;
}

.secondPart span {
    color: white;
    font-size: 0.9vw;
     font-family: myFont-P;
}

.thirdPart {
    width: 8vw;
    /* height: 20vh; */
    gap: 6vh;
    display: flex;
    flex-direction: column;
}

.thirdPart p {
    font-family: myFont-P;
    font-size: 1vw;
    font-weight: 700;
    /* line-height: 21px; */
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
hr{
    border:1px solid #6B7280;
    /* margin-top: 15vh; */
    width:90%;
    margin:10vh auto 0;
}
.copyright {
    font-family: Roboto;
    font-size: 1.1vw;
    font-weight: 400;
    /* margin-top: 5vh; */
    padding: 9vh 0px;
    /* line-height: 20px; */
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    /* margin-top: 7vh; */
}
.copyright img{
    width:7vw;
    height:3vh;
}
@media only sreen and (max-width: 1024px) {
    /* .footer {
        width: 100%;
    } */
    .thirdPart p,.secondPart span {
        font-size: 90vw;
        border:2px solid red;
    }
}
@media only screen and (max-width: 899px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:50px;
        padding-top: 30px;
}
.thirdPart p,.secondPart span {
    font-size: 3vw;
}
.firstPart {
    flex-direction: column;
    gap: 30px;
        width: 30vw;
}
.firstPart .socials{
    display:flex;
    align-items: center;
    justify-content: center;
}
.socials {
    display: flex;
    gap: 5vw;
    font-family: myFont-P;
}
.socials img {
    width: 6vw;
    height: 3.5vh;
}
 .location{
    width:300px;
    margin:0 auto;
    text-align: center;
    padding-left: 30px;
    font-family: myFont-P;
}
.secondPart {
    display: flex;
    flex-direction: column;
    /* gap: 15px;  */
align-items: center;
justify-content: center;
}
.thirdPart {
    width: 20vw;
    
}
.copyright{
display:flex;
text-align: center;
align-items: center;
flex-direction: column;
width:90%;

}
.copyright p{
    font-size:4vw;
}
.copyright img{
    width:30vw;
}
hr{
    width:100%;
}
}
